In [339]:
from __future__ import print_function

from functools import partial
from urllib.request import urlretrieve
import pandas as pd
import torch
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler



# hyper-opt
from hyperopt import hp, Trials, STATUS_OK, tpe, fmin
from hyperopt import space_eval
from hyperopt.pyll import scope

from tensorflow.keras.layers import Dense, Dropout, Activation
from tensorflow.keras.models import Sequential

# utils
import pickle
import argparse
import os
import numpy as np 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
import xgboost
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [340]:
urlretrieve('http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data', 'german.data')

('german.data', <http.client.HTTPMessage at 0x7f4cd3f5e390>)

In [341]:
german_df = pd.read_csv('german.data', delimiter=' ',header=None)

In [342]:
german_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [343]:
urlretrieve('http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.doc', 'german.doc')
f = open('german.doc')
german_doc= f.read()
# print(german_doc)

In [344]:
german_df.columns=['account_bal','duration','payment_status','purpose',
                   'credit_amount','savings_bond_value','employed_since',
                   'intallment_rate','sex_marital','guarantor','residence_since',
                   'most_valuable_asset','age','concurrent_credits','type_of_housing',
                   'number_of_existcr','job','number_of_dependents','telephon',
                   'foreign','target']

In [345]:
german_df= german_df.replace(['A11','A12','A13','A14', 'A171','A172','A173','A174','A121','A122','A123','A124'],
                  ['neg_bal','positive_bal','positive_bal','no_acc','unskilled','unskilled','skilled','highly_skilled',
                   'none','car','life_insurance','real_estate'])

In [346]:
german_df.head()

,account_bal,duration,payment_status,purpose,credit_amount,savings_bond_value,employed_since,intallment_rate,sex_marital,guarantor,...,most_valuable_asset,age,concurrent_credits,type_of_housing,number_of_existcr,job,number_of_dependents,telephon,foreign,target
0,neg_bal,6,A34,A43,1169,A65,A75,4,A93,A101,...,none,67,A143,A152,2,skilled,1,A192,A201,1
1,positive_bal,48,A32,A43,5951,A61,A73,2,A92,A101,...,none,22,A143,A152,1,skilled,1,A191,A201,2
2,no_acc,12,A34,A46,2096,A61,A74,2,A93,A101,...,none,49,A143,A152,1,unskilled,2,A191,A201,1
3,neg_bal,42,A32,A42,7882,A61,A74,2,A93,A103,...,car,45,A143,A153,1,skilled,2,A191,A201,1
4,neg_bal,24,A33,A40,4870,A61,A73,3,A93,A101,...,real_estate,53,A143,A153,2,skilled,2,A191,A201,2

In [347]:
import numpy as np
import torch

In [348]:
# Number of unique classes in each object column
german_df.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

account_bal             3
payment_status          5
purpose                10
savings_bond_value      5
employed_since          5
sex_marital             4
guarantor               3
most_valuable_asset     4
concurrent_credits      3
type_of_housing         3
job                     3
telephon                2
foreign                 2
dtype: int64

In [349]:
german_df['age']

0      67
1      22
2      49
3      45
4      53
       ..
995    31
996    40
997    38
998    23
999    27
Name: age, Length: 1000, dtype: int64

In [350]:
from sklearn.preprocessing import LabelEncoder

le= LabelEncoder()
le.fit(german_df.target)
german_df.target=le.transform(german_df.target)
german_df.target.head(5)

0    0
1    1
2    0
3    0
4    1
Name: target, dtype: int64

In [351]:
german_df

,account_bal,duration,payment_status,purpose,credit_amount,savings_bond_value,employed_since,intallment_rate,sex_marital,guarantor,...,most_valuable_asset,age,concurrent_credits,type_of_housing,number_of_existcr,job,number_of_dependents,telephon,foreign,target
0,neg_bal,6,A34,A43,1169,A65,A75,4,A93,A101,...,none,67,A143,A152,2,skilled,1,A192,A201,0
1,positive_bal,48,A32,A43,5951,A61,A73,2,A92,A101,...,none,22,A143,A152,1,skilled,1,A191,A201,1
2,no_acc,12,A34,A46,2096,A61,A74,2,A93,A101,...,none,49,A143,A152,1,unskilled,2,A191,A201,0
3,neg_bal,42,A32,A42,7882,A61,A74,2,A93,A103,...,car,45,A143,A153,1,skilled,2,A191,A201,0
4,neg_bal,24,A33,A40,4870,A61,A73,3,A93,A101,...,real_estate,53,A143,A153,2,skilled,2,A191,A201,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no_acc,12,A32,A42,1736,A61,A74,3,A92,A101,...,none,31,A143,A152,1,unskilled,1,A191,A201,0
996,neg_bal,30,A32,A41,3857,A61,A73,4,A91,A101,...,car,40,A143,A152,1,highly_skilled,1,A192,A201,0
997,no_acc,12,A32,A43,804,A61,A75,4,A93,A101,...,life_insurance,38,A143,A152,1,skilled,1,A191,A201,0
998,neg_bal,45,A32,A43,1845,A61,A73,4,A93,A101,...,real_estate,23,A143,A153,1,skilled,1,A192,A201,1
999,positive_bal,45,A34,A41,4576,A62,A71,3,A93,A101,...,life_insurance,27,A143,A152,1,skilled,1,A191,A201,0

In [352]:
# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in german_df:
    if german_df[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(german_df[col].unique())) <= 2:
            # Train on the training data
            le.fit(german_df[col])
            # Transform both training and testing data
            german_df[col] = le.transform(german_df[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

2 columns were label encoded.

In [353]:
# one-hot encoding of categorical variables
german_df = pd.get_dummies(german_df)

print('Encoded Features shape: ', german_df.shape)

Encoded Features shape:  (1000, 58)

In [354]:
german_df.head()

,duration,credit_amount,intallment_rate,residence_since,age,number_of_existcr,number_of_dependents,telephon,foreign,target,...,most_valuable_asset_real_estate,concurrent_credits_A141,concurrent_credits_A142,concurrent_credits_A143,type_of_housing_A151,type_of_housing_A152,type_of_housing_A153,job_highly_skilled,job_skilled,job_unskilled
0,6,1169,4,4,67,2,1,1,0,0,...,0,0,0,1,0,1,0,0,1,0
1,48,5951,2,2,22,1,1,0,0,1,...,0,0,0,1,0,1,0,0,1,0
2,12,2096,2,3,49,1,2,0,0,0,...,0,0,0,1,0,1,0,0,0,1
3,42,7882,2,4,45,1,2,0,0,0,...,0,0,0,1,0,0,1,0,1,0
4,24,4870,3,4,53,2,2,0,0,1,...,1,0,0,1,0,0,1,0,1,0

In [355]:
df = german_df
df['age']

0      67
1      22
2      49
3      45
4      53
       ..
995    31
996    40
997    38
998    23
999    27
Name: age, Length: 1000, dtype: int64

In [356]:
# german_df= german_df.replace({'age': {'<=50K': 0, '<=50K.': 0,  '>50K': 1, '>50K.': 1}})
for i in df['age']:
    print(i)
    print('i = ',  i)
    if  i <= 25 or i == 0:
        df['age'] = df['age'].replace([i], '0')
    else:
        df['age'] = df['age'].replace([i], '1')
    
    print(df['age'][i])

67
i =  67
22
22
i =  22
48
49
i =  49
28
45
i =  45
35
53
i =  53
31
35
i =  35
25
53
i =  53
31
35
i =  35
25
61
i =  61
50
28
i =  28
34
25
i =  25
36
24
i =  24
26
22
i =  22
48
60
i =  60
27
28
i =  28
34
32
i =  32
30
53
i =  53
31
25
i =  25
36
44
i =  44
58
31
i =  31
27
48
i =  48
39
44
i =  44
58
48
i =  48
39
44
i =  44
58
26
i =  26
39
36
i =  36
1
39
i =  39
0
42
i =  42
1
34
i =  34
33
63
i =  63
1
36
i =  36
1
27
i =  27
1
30
i =  30
1
57
i =  57
1
33
i =  33
1
25
i =  25
1
31
i =  31
1
37
i =  37
1
37
i =  37
1
24
i =  24
1
30
i =  30
1
26
i =  26
1
44
i =  44
58
24
i =  24
1
58
i =  58
23
35
i =  35
1
39
i =  39
0
23
i =  23
1
39
i =  39
0
28
i =  28
1
29
i =  29
1
30
i =  30
1
25
i =  25
1
31
i =  31
1
57
i =  57
1
26
i =  26
1
52
i =  52
1
31
i =  31
1
23
i =  23
1
23
i =  23
1
27
i =  27
1
50
i =  50
1
61
i =  61
1
25
i =  25
1
26
i =  26
1
48
i =  48
1
29
i =  29
1
22
i =  22
1
37
i =  37
1
25
i =  25
1
30
i =  30
1
46
i =  46
1
51
i =  51
1
41
i =  41
1
40
i =  40
1
66
i =  66
1
34
i =  34
1
51
i =  51
1
39
i =  39
0
22
i =  22
1
44
i =  44
1
47
i =  47
0
24
i =  24
1
58
i =  58
0
52
i =  52
1
29
i =  29
1
27
i =  27
1
47
i =  47
0
30
i =  30
1
28
i =  28
1
56
i =  56
1
54
i =  54
1
33
i =  33
1
20
i =  20
1
54
i =  54
1
58
i =  58
0
61
i =  61
1
34
i =  34
1
36
i =  36
1
36
i =  36
1
41
i =  41
1
24
i =  24
1
24
i =  24
1
35
i =  35
1
26
i =  26
1
39
i =  39
0
39
i =  39
0
32
i =  32
1
30
i =  30
1
35
i =  35
1
31
i =  31
1
23
i =  23
1
28
i =  28
1
25
i =  25
1
35
i =  35
1
47
i =  47
0
30
i =  30
1
27
i =  27
1
23
i =  23
1
36
i =  36
1
25
i =  25
1
41
i =  41
1
24
i =  24
1
63
i =  63
1
27
i =  27
1
30
i =  30
1
40
i =  40
1
30
i =  30
1
34
i =  34
1
29
i =  29
1
24
i =  24
1
29
i =  29
1
27
i =  27
1
47
i =  47
0
21
i =  21
1
38
i =  38
1
27
i =  27
1
66
i =  66
1
35
i =  35
1
44
i =  44
1
27
i =  27
1
30
i =  30
1
27
i =  27
1
22
i =  22
1
23
i =  23
1
30
i =  30
1
39
i =  39
0
51
i =  51
1
28
i =  28
1
46
i =  46
1
42
i =  42
1
38
i =  38
1
24
i =  24
1
29
i =  29
1
36
i =  36
1
20
i =  20
1
48
i =  48
1
45
i =  45
1
38
i =  38
1
34
i =  34
1
36
i =  36
1
30
i =  30
1
36
i =  36
1
70
i =  70
1
36
i =  36
1
32
i =  32
1
33
i =  33
1
20
i =  20
1
25
i =  25
1
31
i =  31
1
33
i =  33
1
26
i =  26
1
34
i =  34
1
33
i =  33
1
26
i =  26
1
53
i =  53
1
42
i =  42
1
52
i =  52
1
31
i =  31
1
65
i =  65
1
28
i =  28
1
30
i =  30
1
40
i =  40
1
50
i =  50
1
36
i =  36
1
31
i =  31
1
74
i =  74
1
68
i =  68
1
20
i =  20
1
33
i =  33
1
54
i =  54
1
34
i =  34
1
36
i =  36
1
29
i =  29
1
21
i =  21
1
34
i =  34
1
28
i =  28
1
27
i =  27
1
36
i =  36
1
40
i =  40
1
52
i =  52
1
27
i =  27
1
26
i =  26
1
21
i =  21
1
38
i =  38
1
38
i =  38
1
43
i =  43
0
26
i =  26
1
21
i =  21
1
55
i =  55
1
33
i =  33
1
45
i =  45
1
50
i =  50
1
66
i =  66
1
51
i =  51
1
39
i =  39
0
31
i =  31
1
23
i =  23
1
24
i =  24
1
64
i =  64
1
26
i =  26
1
23
i =  23
1
30
i =  30
1
32
i =  32
1
30
i =  30
1
27
i =  27
1
27
i =  27
1
53
i =  53
1
22
i =  22
1
22
i =  22
1
26
i =  26
1
51
i =  51
1
35
i =  35
1
25
i =  25
1
42
i =  42
1
30
i =  30
1
23
i =  23
1
61
i =  61
1
35
i =  35
1
39
i =  39
0
29
i =  29
1
51
i =  51
1
24
i =  24
1
27
i =  27
1
35
i =  35
1
25
i =  25
1
52
i =  52
1
35
i =  35
1
26
i =  26
1
22
i =  22
1
39
i =  39
0
46
i =  46
1
24
i =  24
1
35
i =  35
1
24
i =  24
1
27
i =  27
1
35
i =  35
1
29
i =  29
1
23
i =  23
1
57
i =  57
1
27
i =  27
1
55
i =  55
1
36
i =  36
1
57
i =  57
1
32
i =  32
1
37
i =  37
1
36
i =  36
1
38
i =  38
1
45
i =  45
1
25
i =  25
1
32
i =  32
1
37
i =  37
1
36
i =  36
1
28
i =  28
1
34
i =  34
1
32
i =  32
1
26
i =  26
1
49
i =  49
1
32
i =  32
1
29
i =  29
1
23
i =  23
1
50
i =  50
1
49
i =  49
1
63
i =  63
1
37
i =  37
1
35
i =  35
1
26
i =  26
1
31
i =  31
1
49
i =  49
1
48
i =  48
1
26
i =  26
1
28
i =  28
1
44
i =  44
1
56
i =  56
1
46
i =  46
1
26
i =  26
1
20
i =  20
1
45
i =  45
1
43
i =  43
0
32
i =  32
1
54
i =  54
1
42
i =  42
1
37
i =  37
1
49
i =  49
1
44
i =  44
1
33
i =  33
1
24
i =  24
1
33
i =  33
1
24
i =  24
1
22
i =  22
1
40
i =  40
1
25
i =  25
1
26
i =  26
1
25
i =  25
1
29
i =  29
1
31
i =  31
1
38
i =  38
1
48
i =  48
1
32
i =  32
1
27
i =  27
1
28
i =  28
1
32
i =  32
1
34
i =  34
1
28
i =  28
1
36
i =  36
1
39
i =  39
0
49
i =  49
1
34
i =  34
1
31
i =  31
1
28
i =  28
1
75
i =  75
1
30
i =  30
1
24
i =  24
1
24
i =  24
1
23
i =  23
1
44
i =  44
1
23
i =  23
1
24
i =  24
1
28
i =  28
1
31
i =  31
1
24
i =  24
1
26
i =  26
1
25
i =  25
1
33
i =  33
1
37
i =  37
1
43
i =  43
0
23
i =  23
1
23
i =  23
1
34
i =  34
1
32
i =  32
1
23
i =  23
1
29
i =  29
1
38
i =  38
1
28
i =  28
1
46
i =  46
1
23
i =  23
1
49
i =  49
1
26
i =  26
1
28
i =  28
1
23
i =  23
1
61
i =  61
1
37
i =  37
1
36
i =  36
1
21
i =  21
1
25
i =  25
1
36
i =  36
1
27
i =  27
1
22
i =  22
1
42
i =  42
1
40
i =  40
1
36
i =  36
1
33
i =  33
1
23
i =  23
1
63
i =  63
1
60
i =  60
1
37
i =  37
1
34
i =  34
1
36
i =  36
1
57
i =  57
1
52
i =  52
1
39
i =  39
0
38
i =  38
1
25
i =  25
1
26
i =  26
1
26
i =  26
1
25
i =  25
1
21
i =  21
1
40
i =  40
1
27
i =  27
1
27
i =  27
1
30
i =  30
1
19
i =  19
1
39
i =  39
0
31
i =  31
1
31
i =  31
1
32
i =  32
1
55
i =  55
1
46
i =  46
1
46
i =  46
1
43
i =  43
0
39
i =  39
0
28
i =  28
1
27
i =  27
1
27
i =  27
1
43
i =  43
0
22
i =  22
1
43
i =  43
0
27
i =  27
1
26
i =  26
1
28
i =  28
1
20
i =  20
1
35
i =  35
1
42
i =  42
1
40
i =  40
1
35
i =  35
1
35
i =  35
1
33
i =  33
1
23
i =  23
1
31
i =  31
1
33
i =  33
1
20
i =  20
1
30
i =  30
1
47
i =  47
0
34
i =  34
1
25
i =  25
1
21
i =  21
1
29
i =  29
1
46
i =  46
1
20
i =  20
1
55
i =  55
1
74
i =  74
1
29
i =  29
1
36
i =  36
1
33
i =  33
1
25
i =  25
1
25
i =  25
1
23
i =  23
1
37
i =  37
1
65
i =  65
1
26
i =  26
1
39
i =  39
0
30
i =  30
1
29
i =  29
1
41
i =  41
1
30
i =  30
1
41
i =  41
1
34
i =  34
1
35
i =  35
1
55
i =  55
1
61
i =  61
1
30
i =  30
1
29
i =  29
1
34
i =  34
1
35
i =  35
1
31
i =  31
1
29
i =  29
1
36
i =  36
1
35
i =  35
1
27
i =  27
1
32
i =  32
1
37
i =  37
1
36
i =  36
1
34
i =  34
1
38
i =  38
1
34
i =  34
1
63
i =  63
1
29
i =  29
1
32
i =  32
1
26
i =  26
1
35
i =  35
1
22
i =  22
1
23
i =  23
1
28
i =  28
1
36
i =  36
1
33
i =  33
1
26
i =  26
1
24
i =  24
1
25
i =  25
1
39
i =  39
0
44
i =  44
1
23
i =  23
1
26
i =  26
1
57
i =  57
1
30
i =  30
1
44
i =  44
1
47
i =  47
0
52
i =  52
1
62
i =  62
1
35
i =  35
1
26
i =  26
1
26
i =  26
1
42
i =  42
1
27
i =  27
1
38
i =  38
1
39
i =  39
0
20
i =  20
1
29
i =  29
1
40
i =  40
1
32
i =  32
1
28
i =  28
1
27
i =  27
1
42
i =  42
1
49
i =  49
1
38
i =  38
1
24
i =  24
1
27
i =  27
1
36
i =  36
1
34
i =  34
1
28
i =  28
1
45
i =  45
1
26
i =  26
1
32
i =  32
1
26
i =  26
1
20
i =  20
1
54
i =  54
1
37
i =  37
1
40
i =  40
1
23
i =  23
1
43
i =  43
0
36
i =  36
1
44
i =  44
1
24
i =  24
1
53
i =  53
1
23
i =  23
1
26
i =  26
1
30
i =  30
1
31
i =  31
1
42
i =  42
1
31
i =  31
1
41
i =  41
1
32
i =  32
1
28
i =  28
1
41
i =  41
1
26
i =  26
1
25
i =  25
1
33
i =  33
1
75
i =  75
1
37
i =  37
1
42
i =  42
1
45
i =  45
1
23
i =  23
1
60
i =  60
1
31
i =  31
1
34
i =  34
1
61
i =  61
1
43
i =  43
0
37
i =  37
1
32
i =  32
1
24
i =  24
1
35
i =  35
1
23
i =  23
1
45
i =  45
1
34
i =  34
1
27
i =  27
1
67
i =  67
0
22
i =  22
1
28
i =  28
1
29
i =  29
1
27
i =  27
1
31
i =  31
1
49
i =  49
1
24
i =  24
1
29
i =  29
1
37
i =  37
1
37
i =  37
1
23
i =  23
1
36
i =  36
1
34
i =  34
1
41
i =  41
1
31
i =  31
1
23
i =  23
1
38
i =  38
1
26
i =  26
1
22
i =  22
1
27
i =  27
1
24
i =  24
1
27
i =  27
1
33
i =  33
1
27
i =  27
1
27
i =  27
1
30
i =  30
1
49
i =  49
1
26
i =  26
1
33
i =  33
1
52
i =  52
1
20
i =  20
1
36
i =  36
1
21
i =  21
1
47
i =  47
0
60
i =  60
1
58
i =  58
0
42
i =  42
1
36
i =  36
1
20
i =  20
1
40
i =  40
1
32
i =  32
1
23
i =  23
1
36
i =  36
1
31
i =  31
1
32
i =  32
1
45
i =  45
1
30
i =  30
1
34
i =  34
1
28
i =  28
1
23
i =  23
1
22
i =  22
1
74
i =  74
1
50
i =  50
1
33
i =  33
1
45
i =  45
1
22
i =  22
1
48
i =  48
1
29
i =  29
1
22
i =  22
1
22
i =  22
1
48
i =  48
1
27
i =  27
1
37
i =  37
1
21
i =  21
1
49
i =  49
1
27
i =  27
1
32
i =  32
1
38
i =  38
1
22
i =  22
1
65
i =  65
1
35
i =  35
1
41
i =  41
1
29
i =  29
1
36
i =  36
1
64
i =  64
1
28
i =  28
1
44
i =  44
1
23
i =  23
1
19
i =  19
1
25
i =  25
1
47
i =  47
0
28
i =  28
1
21
i =  21
1
34
i =  34
1
26
i =  26
1
27
i =  27
1
38
i =  38
1
40
i =  40
1
33
i =  33
1
32
i =  32
1
27
i =  27
1
32
i =  32
1
26
i =  26
1
38
i =  38
1
40
i =  40
1
50
i =  50
1
37
i =  37
1
45
i =  45
1
42
i =  42
1
35
i =  35
1
22
i =  22
1
41
i =  41
1
37
i =  37
1
28
i =  28
1
41
i =  41
1
23
i =  23
1
23
i =  23
1
50
i =  50
1
35
i =  35
1
50
i =  50
1
27
i =  27
1
34
i =  34
1
27
i =  27
1
43
i =  43
0
47
i =  47
0
27
i =  27
1
31
i =  31
1
42
i =  42
1
24
i =  24
1
41
i =  41
1
26
i =  26
1
33
i =  33
1
24
i =  24
1
64
i =  64
1
26
i =  26
1
56
i =  56
1
37
i =  37
1
33
i =  33
1
47
i =  47
0
31
i =  31
1
34
i =  34
1
27
i =  27
1
30
i =  30
1
35
i =  35
1
31
i =  31
1
25
i =  25
1
25
i =  25
1
29
i =  29
1
44
i =  44
1
28
i =  28
1
50
i =  50
1
29
i =  29
1
38
i =  38
1
24
i =  24
1
40
i =  40
1
29
i =  29
1
46
i =  46
1
47
i =  47
0
41
i =  41
1
32
i =  32
1
35
i =  35
1
24
i =  24
1
25
i =  25
1
25
i =  25
1
37
i =  37
1
32
i =  32
1
35
i =  35
1
46
i =  46
1
25
i =  25
1
27
i =  27
1
63
i =  63
1
40
i =  40
1
32
i =  32
1
31
i =  31
1
31
i =  31
1
34
i =  34
1
24
i =  24
1
24
i =  24
1
66
i =  66
1
21
i =  21
1
41
i =  41
1
47
i =  47
0
25
i =  25
1
59
i =  59
0
36
i =  36
1
33
i =  33
1
21
i =  21
1
44
i =  44
1
28
i =  28
1
37
i =  37
1
29
i =  29
1
23
i =  23
1
35
i =  35
1
45
i =  45
1
26
i =  26
1
32
i =  32
1
23
i =  23
1
41
i =  41
1
22
i =  22
1
30
i =  30
1
28
i =  28
1
23
i =  23
1
37
i =  37
1
26
i =  26
1
33
i =  33
1
49
i =  49
1
23
i =  23
1
23
i =  23
1
25
i =  25
1
55
i =  55
1
32
i =  32
1
74
i =  74
1
39
i =  39
0
31
i =  31
1
35
i =  35
1
59
i =  59
0
24
i =  24
1
24
i =  24
1
30
i =  30
1
27
i =  27
1
40
i =  40
1
31
i =  31
1
31
i =  31
1
28
i =  28
1
63
i =  63
1
26
i =  26
1
25
i =  25
1
36
i =  36
1
52
i =  52
1
66
i =  66
1
25
i =  25
1
37
i =  37
1
25
i =  25
1
38
i =  38
1
67
i =  67
0
25
i =  25
1
60
i =  60
1
31
i =  31
1
23
i =  23
1
60
i =  60
1
35
i =  35
1
40
i =  40
1
38
i =  38
1
50
i =  50
1
27
i =  27
1
39
i =  39
0
41
i =  41
1
27
i =  27
1
51
i =  51
1
32
i =  32
1
22
i =  22
1
51
i =  51
1
22
i =  22
1
54
i =  54
1
35
i =  35
1
54
i =  54
1
48
i =  48
1
24
i =  24
1
35
i =  35
1
24
i =  24
1
24
i =  24
1
26
i =  26
1
65
i =  65
1
55
i =  55
1
26
i =  26
1
26
i =  26
1
28
i =  28
1
24
i =  24
1
54
i =  54
1
46
i =  46
1
54
i =  54
1
62
i =  62
1
24
i =  24
1
43
i =  43
0
26
i =  26
1
27
i =  27
1
24
i =  24
1
41
i =  41
1
47
i =  47
0
35
i =  35
1
30
i =  30
1
33
i =  33
1
36
i =  36
1
47
i =  47
0
38
i =  38
1
44
i =  44
1
23
i =  23
1
29
i =  29
1
42
i =  42
1
25
i =  25
1
48
i =  48

1
21
i =  21
1
23
i =  23
1
63
i =  63
1
46
i =  46
1
29
i =  29
1
28
i =  28
1
23
i =  23
1
50
i =  50
1
47
i =  47
0
35
i =  35
1
68
i =  68
1
28
i =  28
1
59
i =  59
0
57
i =  57
1
33
i =  33
1
43
i =  43
0
35
i =  35
1
32
i =  32
1
45
i =  45
1
33
i =  33
1
40
i =  40
1
28
i =  28
1
29
i =  29
1
26
i =  26
1
27
i =  27
1
28
i =  28
1
35
i =  35
1
32
i =  32
1
25
i =  25
1
20
i =  20
1
27
i =  27
1
42
i =  42
1
37
i =  37
1
24
i =  24
1
40
i =  40
1
46
i =  46
1
26
i =  26
1
24
i =  24
1
29
i =  29
1
40
i =  40
1
36
i =  36
1
28
i =  28
1
27
i =  27
1
36
i =  36
1
38
i =  38
1
48
i =  48
1
36
i =  36
1
65
i =  65
1
43
i =  43
0
53
i =  53
1
34
i =  34
1
23
i =  23
1
34
i =  34
1
40
i =  40
1
43
i =  43
0
46
i =  46
1
38
i =  38
1
34
i =  34
1
29
i =  29
1
31
i =  31
1
28
i =  28
1
35
i =  35
1
33
i =  33
1
42
i =  42
1
43
i =  43
0
44
i =  44
1
42
i =  42
1
40
i =  40
1
36
i =  36
1
20
i =  20
1
24
i =  24
1
27
i =  27
1
46
i =  46
1
33
i =  33
1
34
i =  34
1
25
i =  25
1
25
i =  25
1
28
i =  28
1
31
i =  31
1
32
i =  32
1
32
i =  32
1
68
i =  68
1
33
i =  33
1
39
i =  39
0
28
i =  28
1
37
i =  37
1
22
i =  22
1
30
i =  30
1
55
i =  55
1
46
i =  46
1
21
i =  21
1
39
i =  39
0
58
i =  58
0
43
i =  43
0
24
i =  24
1
22
i =  22
1
30
i =  30
1
42
i =  42
1
23
i =  23
1
30
i =  30
1
28
i =  28
1
30
i =  30
1
42
i =  42
1
46
i =  46
1
45
i =  45
1
31
i =  31
1
31
i =  31
1
42
i =  42
1
46
i =  46
1
30
i =  30
1
30
i =  30
1
38
i =  38
1
43
i =  43
0
31
i =  31
1
40
i =  40
1
24
i =  24
1
28
i =  28
1
26
i =  26
1
29
i =  29
1
57
i =  57
1
49
i =  49
1
37
i =  37
1
45
i =  45
1
30
i =  30
1
30
i =  30
1
47
i =  47
0
29
i =  29
1
35
i =  35
1
22
i =  22
1
26
i =  26
1
23
i =  23
1
54
i =  54
1
29
i =  29
1
40
i =  40
1
22
i =  22
1
43
i =  43
0
29
i =  29
1
36
i =  36
1
33
i =  33
1
57
i =  57
1
64
i =  64
1
42
i =  42
1
47
i =  47
0
25
i =  25
1
49
i =  49
1
33
i =  33
1
28
i =  28
1
26
i =  26
1
30
i =  30
1
25
i =  25
1
33
i =  33
1
64
i =  64
1
29
i =  29
1
48
i =  48
1
37
i =  37
1
34
i =  34
1
23
i =  23
1
30
i =  30
1
50
i =  50
1
31
i =  31
1
40
i =  40
1
38
i =  38
1
23
i =  23
1
27
i =  27
1

In [359]:
german_df['age'] = df['age']  
german_df

,duration,credit_amount,intallment_rate,residence_since,age,number_of_existcr,number_of_dependents,telephon,foreign,target,...,most_valuable_asset_real_estate,concurrent_credits_A141,concurrent_credits_A142,concurrent_credits_A143,type_of_housing_A151,type_of_housing_A152,type_of_housing_A153,job_highly_skilled,job_skilled,job_unskilled
0,6,1169,4,4,1,2,1,1,0,0,...,0,0,0,1,0,1,0,0,1,0
1,48,5951,2,2,0,1,1,0,0,1,...,0,0,0,1,0,1,0,0,1,0
2,12,2096,2,3,1,1,2,0,0,0,...,0,0,0,1,0,1,0,0,0,1
3,42,7882,2,4,1,1,2,0,0,0,...,0,0,0,1,0,0,1,0,1,0
4,24,4870,3,4,1,2,2,0,0,1,...,1,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,3,4,1,1,1,0,0,0,...,0,0,0,1,0,1,0,0,0,1
996,30,3857,4,4,1,1,1,1,0,0,...,0,0,0,1,0,1,0,1,0,0
997,12,804,4,4,1,1,1,0,0,0,...,0,0,0,1,0,1,0,0,1,0
998,45,1845,4,4,0,1,1,1,0,1,...,1,0,0,1,0,0,1,0,1,0
999,45,4576,3,4,1,1,1,0,0,0,...,0,0,0,1,0,1,0,0,1,0

In [ ]:
 # Male and Female indices
min_index = np.where(german_df['age'] == 1)
maj_index = np.where(german_df['age'] == 0)

In [177]:
x, y = german_df.drop('target', axis=1), german_df['target']
x = x.to_numpy()
y = y.to_numpy()
x.shape, y.shape

((1000, 57), (1000,))

In [178]:
x.shape

(1000, 57)

In [179]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=.2, random_state=42)
# train, test= train_test_split(german_df, test_size=.2, random_state=42)

In [180]:
# np.save(f'german_credit_train.npy', {'X': x_train, 'y': y_train})
# np.save(f'german_credit_test.npy', {'X': x_test, 'y': y_test})

In [181]:
Batch_size = 100
X_train = torch.from_numpy(x_train) #2d [[],[],...]
y_train = torch.from_numpy(y_train) #1d [1,1,0,0,....]

#Valid 
X_Test = torch.from_numpy(x_test) 
y_Test = torch.from_numpy(y_test) 

import torch.utils.data as data
class AdultDataset(data.Dataset):

    def __init__(self,X, y): #X and Y 

        #pass
        ######
        # 4.1 YOUR CODE HERE
        self.X = X
        self.y = y
        ######

    def __len__(self):
        
        return len(self.X)

    def __getitem__(self, index): #get the (i)th sample 
        #pass
        
        ######
        # 4.1 YOUR CODE HERE
        item = self.X[index,:],self.y[index] #extract (i)th sample row and label for that sample
                
        return item 
        
        ######

In [182]:
X_train

tensor([[  60, 6836,    3,  ...,    0,    1,    0],
        [  21, 2319,    2,  ...,    0,    1,    0],
        [   6, 1236,    2,  ...,    0,    1,    0],
        ...,
        [  24, 5804,    4,  ...,    0,    1,    0],
        [  12, 1484,    2,  ...,    0,    1,    0],
        [   6,  932,    3,  ...,    0,    1,    0]])

In [191]:
X_train

array([[   6, 1169,    4, ...,    0,    1,    0],
       [  48, 5951,    2, ...,    0,    1,    0],
       [  12, 2096,    2, ...,    0,    0,    1],
       ...,
       [  12,  804,    4, ...,    0,    1,    0],
       [  45, 1845,    4, ...,    0,    1,    0],
       [  45, 4576,    3, ...,    0,    1,    0]])

In [188]:
X_train = x
y_train = y

In [192]:
def prepare_dataset():
    #download the german_credit dataset
    urlretrieve('http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data', 'german.data')
    german_df = pd.read_csv('german.data', delimiter=' ',header=None)
    
    #download the doc file that have the Description of the German credit dataset.
    urlretrieve('http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.doc', 'german.doc')
    f = open('german.doc')
    
    # add the columns to the dataset
    german_df.columns=['account_bal','duration','payment_status','purpose',
                   'credit_amount','savings_bond_value','employed_since',
                   'intallment_rate','sex_marital','guarantor','residence_since',
                   'most_valuable_asset','age','concurrent_credits','type_of_housing',
                   'number_of_existcr','job','number_of_dependents','telephon',
                   'foreign','target']
    
    # replace some attributes value 
    german_df= german_df.replace(['A11','A12','A13','A14', 'A171','A172','A173','A174','A121','A122','A123','A124'],
                  ['neg_bal','positive_bal','positive_bal','no_acc','unskilled','unskilled','skilled','highly_skilled',
                   'none','car','life_insurance','real_estate'])
    
    # label encoding
    le= LabelEncoder()
    le.fit(german_df.target)
    german_df.target=le.transform(german_df.target)

    # sklearn preprocessing for dealing with categorical variables
    # Create a label encoder object
    le = LabelEncoder()
    le_count = 0

    # Iterate through the columns
    for col in german_df:
        if german_df[col].dtype == 'object':
            # If 2 or fewer unique categories
            if len(list(german_df[col].unique())) <= 2:
                # Train on the training data
                le.fit(german_df[col])
                # Transform both training and testing data
                german_df[col] = le.transform(german_df[col])

                # Keep track of how many columns were label encoded
                le_count += 1

    print('%d columns were label encoded.' % le_count)
    
    # get the data and the label
    x, y = german_df.drop('target', axis=1), german_df['target']
    x = x.to_numpy()
    y = y.to_numpy()
    
    # split to train and test
    # x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=.2, random_state=42)
    
    # safe the train and test file 
    # np.save(f'german_credit_train.npy', {'X': x_train, 'y': y_train})
    # np.save(f'german_credit_test.npy', {'X': x_test, 'y': y_test})
    

    # scale each feature to 0-1
#     scaler = MinMaxScaler(feature_range = (0, 1))

#     # fit on features dataset
#     scaler.fit(x)
#     x = scaler.transform(x)
#     scaler.fit(x_train)
#     scaler.fit(x_test)
#     x_train= scaler.transform(x_train)
#     x_test= scaler.transform(x_test)
    return x, y

In [195]:
x, y = prepare_dataset()
x

2 columns were label encoded.

array([['neg_bal', 6, 'A34', ..., 1, 1, 0],
       ['positive_bal', 48, 'A32', ..., 1, 0, 0],
       ['no_acc', 12, 'A34', ..., 2, 0, 0],
       ...,
       ['no_acc', 12, 'A32', ..., 1, 0, 0],
       ['neg_bal', 45, 'A32', ..., 1, 1, 0],
       ['positive_bal', 45, 'A34', ..., 1, 0, 0]], dtype=object)

In [189]:
dataset_dict = {
    1 : 'german_credit',
    2 : 'adult_income',
    3 : 'compas',
    4 : 'default_credit',
    5 : 'marketing'
    
}

data_dict = {
    'german_credit'     : ('german_credit','target'),
    'adult_income'      : ('adult_income', 'income'),
    'compas'            : ('compas', 'low_risk'),
    'default_credit'    : ('default_credit', 'good_credit'),
    'marketing'         : ('marketing', 'subscribed')      
}  

space_DNN = {
    'units_l1'      : hp.choice('units_l1', [25, 50, 75, 100, 150, 200]),
    'dropout_l1'    : hp.uniform('dropout_l1', 0, 0.5),
    'units_l2'      : hp.choice('units_l2', [25, 50, 75, 100, 150, 200]),
    'dropout_l2'    : hp.uniform('dropout_l2', 0, 0.5),
    'nbr_layers'    : hp.choice('nbr_layers',
                    [
                        {'layers':'two',              
                        },
                        {'layers':'three',
                        'units_l3_a': hp.choice('units_l3_a', [25, 50, 75, 100, 150, 200]),
                        'dropout_l3_a': hp.uniform('dropout_l3_a', 0, 0.5),     
                        }, 
                        {'layers':'four',
                        'units_l3_b': hp.choice('units_l3_b', [25, 50, 75, 100, 150, 200]),
                        'dropout_l3_b': hp.uniform('dropout_l3_b', 0, 0.5), 
                        'units_l4': hp.choice('units_l4', [25, 50, 75, 100, 150, 200]),
                        'dropout_l4': hp.uniform('dropout_l4', 0, 0.5),     
                        },
                    ]),
    'optimizer'     : hp.choice('optimizer', ['rmsprop', 'adam', 'sgd']),
    'epochs'        : 30,
    }


# DNN
def obj_func__DNN(params, rseed):

#     X_train, y_train= prepare_data(data, rseed)
    model = Sequential()

    # first layer
    model.add(Dense(params['units_l1'], input_dim = X_train.shape[1]))
    model.add(Dropout(params['dropout_l1']))
    model.add(Activation('relu'))
    
    # second layer
    model.add(Dense(params['units_l2']))
    model.add(Dropout(params['dropout_l2']))
    model.add(Activation('relu'))

    if params['nbr_layers']['layers']== 'three':
        # third layer
        model.add(Dense(params['nbr_layers']['units_l3_a']))
        model.add(Dropout(params['nbr_layers']['dropout_l3_a']))
        model.add(Activation('relu'))

    if params['nbr_layers']['layers']== 'four':
        # third layer
        model.add(Dense(params['nbr_layers']['units_l3_b']))
        model.add(Dropout(params['nbr_layers']['dropout_l3_b']))
        model.add(Activation('relu'))
        # fourth layer
        model.add(Dense(params['nbr_layers']['units_l4']))
        model.add(Dropout(params['nbr_layers']['dropout_l4']))
        model.add(Activation('relu'))

    # final layers
    model.add(Dense(1))
    model.add(Activation('sigmoid'))

    # loss  function and optimizers
    model.compile(loss='binary_crossentropy', metrics=['accuracy'], optimizer=params['optimizer'])

    result = model.fit(X_train, y_train,
              epochs=params['epochs'],
              verbose=0,
              validation_split=0.1)

    #get the highest validation accuracy of the training epochs
    validation_acc = np.mean(result.history['val_accuracy']) 
    print('Best validation acc of epoch:', validation_acc)
    return {'loss': -validation_acc, 'status': STATUS_OK, 'model': model}





if __name__ == '__main__':

#     # parser initialization
#     parser = argparse.ArgumentParser(description='Script pretraining DNN models')
#     parser.add_argument('--dataset', type=str, default='german_credit', help='german_credit,adult_income, compas, default_credit, marketing')
#     parser.add_argument('--rseed', type=int, default=0, help='random seed: choose between 0 - 9')
#     parser.add_argument('--model_class', type=str, default='DNN', help='DNN, RF, AdaBoost, XgBoost')
#     parser.add_argument('--nbr_evals', type=int, default=25, help='Number of evaluations for hyperopt')

#     # get input
#     args = parser.parse_args()
#     dataset = args.dataset
#     rseed = args.rseed
#     model_class = args.model_class
#     nbr_evals = args.nbr_evals
    rseed = 0
    dataset = 'german_credit'
    nbr_evals = 25
    # create directory to save outputs
    outdir = './pretrained/{}/'.format(dataset)

    if not os.path.exists(outdir):
        os.mkdir(outdir)
    
    
    # filenames of saved objects
    model_name = '{}{}_{}.h5'.format(outdir, model_class, rseed)
    stats_name = '{}{}_{}.txt'.format(outdir, model_class, rseed)

    
    # Initialize an empty trials database
    trials = Trials()
    print(X_train.dtype)
    # Perform the evaluations on the search space
    obj_func__DNN = partial(obj_func__DNN, rseed=rseed)
    best = fmin(obj_func__DNN, space_DNN, algo=tpe.suggest, trials=trials, max_evals=nbr_evals)

    # get params of the best model
    best_params = space_eval(space_DNN, best)
    # get the best model
    best_model = trials.best_trial['result']['model']

    # accuracy of the best model
#     X_train, y_train = prepare_data(dataset, rseed)
    acc_train = best_model.evaluate(X_train, y_train)[1]
    print(acc_train)
#         acc_test = best_model.evaluate(X_test, y_test)[1]
#         acc_sg = best_model.evaluate(X_sg, y_sg)[1]

#         save the best model as bbox
    best_model.save(model_name)



    # save best models params and perfs
    with open(stats_name,'w') as myFile:
        myFile.write('Accuracy train: {}\n'.format(acc_train))
#             myFile.write('Accuracy test: {}\n'.format(acc_test))
#             myFile.write('Accuracy sg: {}\n'.format(acc_sg))
        myFile.write('Model params: {}\n'.format(best_params))

int64
Best validation acc of epoch:
0.6813333392143249
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6833333373069763
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6143333365519842
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6440000057220459
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6630000034968059
Best validation acc of epoch:
0.6796666741371155
Best validation acc of epoch:
0.6250000049670538
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6770000060399374
Best validation acc of epoch:
0.6576666722695033
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6800000071525574
Best validation acc of epoch:
0.6786666731039683
Best validation acc of epoch:
0.6680000066757202
100%|██████████| 25/25 [01:20<00:00,  3.21s/trial, best loss: -0.6833333373069763]
32/32 [==============================] - 0s 1ms/step - loss: 0.6242 - accuracy: 0.7050
0.7049999833106995

In [61]:
x_train

array([[  60, 6836,    3, ...,    0,    1,    0],
       [  21, 2319,    2, ...,    0,    1,    0],
       [   6, 1236,    2, ...,    0,    1,    0],
       ...,
       [  24, 5804,    4, ...,    0,    1,    0],
       [  12, 1484,    2, ...,    0,    1,    0],
       [   6,  932,    3, ...,    0,    1,    0]])